{% extends "base.html" %}

{% block header %}
<div class="banner">
  <div class="md-tabs-x" aria-label="Developer Areas">
    <div class="md-grid">
      <ul class="md-tabs__list">
        <li class="md-tabs__item">
          <a href=".." title="RingCentral Developer Guide" class="md-header__button md-logo" aria-label="RingCentral Developer Guide" data-md-component="logo">
            <img src="/img/rcdev-logo-white.svg" alt="logo">
          </a>
	</li>
        <li class="md-tabs__item">
          <a href="https://developers.ringcentral.com" class="md-tabs__link">Developer Home</a>
        </li>
        <li class="md-tabs__item md-tabs__item--active">
          <a href="https://developers.ringcentral.com/guide/" class="md-tabs__link">Developer Guide</a>
        </li>
        <li class="md-tabs__item">
          <a href="https://developers.ringcentral.com/api-reference/" class="md-tabs__link">API Reference</a>
        </li>
        <li class="md-tabs__item">
          <a href="https://developers.ringcentral.com/support/" class="md-tabs__link">Support</a>
        </li>
      </ul>
    </div>
  </div>
  
</div>
{% include "partials/header.html" %}
{% endblock %}
