site_name: Developing with RingCentral
site_url: https://github.com/ringcentral/ringcentral-api-docs
repo_url: https://github.com/ringcentral/ringcentral-api-docs
edit_uri: tree/master/docs
docs_dir: docs

plugins:
  - git-committers:
      repository: ringcentral/ringcentral-api-docs
      branch: master
  - bootstrap-tables
  - ringcentral-api-index:
      outfile: basics/api-index.md

theme:
  name: ringcentral
  fluid_layout: True
  suppress_nextprev: true

markdown_extensions:
  - markdown.extensions.admonition
  - pymdownx.details
  - pymdownx.keys
  - pymdownx.tabbed
  - pymdownx.highlight:
      linenums_style: pymdownx-inline
#      linenums: true
  - pymdownx.superfences
  - mdx_include

extra_css:
- extra.css
- css/mega-menu.css

copyright: "1999-2022 RingCentral, Inc. All rights reserved."

#google_analytics: ['UA-57519112-1', 'developers.ringcentral.com']

pages:

# ---- CORE APIs ----
- 'Primary':
  - 'Voice':
    - 'Overview': 'voice/index.md'
    - 'Getting Started': 'voice/quick-start.md'
    - 'Placing Calls':
      - 'RingOut': 'voice/ringout.md'
      - 'WebRTC': 'voice/webrtc.md'
      - 'URI Scheme': 'voice/uri-scheme.md'
    - 'Call Routing':
      - 'Overview': 'voice/call-routing/index.md'
      - 'Get Started': 'voice/call-routing/get-started.md'
      - 'Answering Rules Overview': 'voice/call-routing/manual/answering-rules.md'
      - 'User Answering Rules': 'voice/call-routing/manual/user-answering-rules.md'
      - 'Company Answering Rules': 'voice/call-routing/manual/company-answering-rules.md'
      - 'Call Queues': 'voice/call-routing/manual/call-queues.md'
      - 'Call Queues Presence': 'voice/call-routing/manual/call-queues-presence.md'
      - 'Call Forwarding/Flipping': 'voice/call-routing/manual/call-forwarding.md'
    - 'Call Control':
      - 'Overview': 'voice/call-control.md'
      - 'Finding active calls': 'voice/finding-active-calls.md'
      - 'Detecting state changes': 'voice/call-control-sessions.md'
      - 'Pre-call Control': 'voice/pre-call-control.md'
      - 'Active-call Control': 'voice/active-call-control.md'
      - 'Call Monitoring': 'voice/supervision.md'
      - 'Conference call': 'voice/conference.md'
      - 'Warm Transfer': 'voice/warm-transfer.md'
      - 'Telephony Session Notifications': 'voice/telephony-session-notifications.md'
      - 'Call Control SDK': 'https://github.com/ringcentral/ringcentral-call-control-js'
    - 'Call Logs':
      - 'Overview': 'voice/call-log/reading-call-log.md'
      - 'Call Log data types': 'voice/call-log/api.md'
      - 'Detailed Call Log Data': 'voice/call-log/details.md'
      - 'Data Archival': 'voice/call-log/archival.md'
      - 'Call Recordings': 'voice/call-log/recordings.md'
      - 'Synchronization': 'voice/call-log/sync.md'
      - 'Best Practices': 'voice/call-log/best-practices.md'
      - 'Access Control': 'voice/call-log/access.md'
    - 'Call Analytics':
      - 'Calculating Call Metrics': 'voice/calculating-call-time-metrics.md'
    - 'Sample Applications':
      - 'Building a Web Phone with WebRTC': 'https://ringcentral-tutorials.github.io/getting-started-with-webrtc-js-demo/'
      - 'Call Log Analytics for iOS': 'https://ringcentral-tutorials.github.io/calllog-analytics-swift-demo/'
      - 'Call Log Visualizations': 'https://ringcentral-tutorials.github.io/calllog-visualization-nodejs-demo/'
      - 'Call Recording Push Notification': 'https://ringcentral-tutorials.github.io/callrecording-notification-node/'
  - 'SMS and Fax':
    - 'Overview': 'messaging/index.md'
    - 'Getting Started': 'messaging/quick-start.md'
    - 'Standard SMS':
      - 'Best Practices': 'messaging/sms/best-practices.md'
      - 'Sending an SMS': 'messaging/sms/sending-sms.md'
      - 'Sending an MMS': 'messaging/sms/sending-images.md'
      - 'Valid SMS Numbers': 'messaging/sms/valid-sms-numbers.md'
    - 'High Volume SMS':
      - 'Overview': 'messaging/sms/high-volume/index.md'
      - 'Best Practices': 'messaging/sms/high-volume/best-practices.md'
      - 'Sending High Volume SMS': 'messaging/sms/high-volume/sending-highvolume-sms.md'
      - 'Reading High Volume Message Store': 'messaging/sms/high-volume/message-store.md'
      - 'Toll-Free vs. Local Numbers': 'messaging/sms/high-volume/toll-free-sms-vs-local-numbers.md'
      - 'Opt-in / Opt-out': 'messaging/sms/high-volume/opt-out.md'
      - 'Event Notifications': 'messaging/sms/high-volume/events.md'
      - 'Errors Handling': 'messaging/sms/high-volume/handling-errors.md'
    - 'Fax':
      - 'Sending Faxes': 'messaging/fax/sending-faxes.md'
      - 'Multipart Formats': 'messaging/fax/fax-multipart-formats.md'
      - 'Receiving Faxes': 'messaging/fax/receiving-faxes.md'
      - 'Forwarding and Resending Faxes': 'messaging/fax/resending-faxes.md'
    - 'Pager Messages':
      - 'Sending Pager Messages': 'messaging/pager/sending-pager-messages.md'
    - 'Message Store':
      - 'Sending Messages': 'messaging/message-store/messaging.md'
      - 'Working with Message Store': 'messaging/message-store/working-with-message-store.md'
      - 'Message Synchronization': 'messaging/message-store/message-sync.md'
      - 'Modifying Message Histories': 'messaging/message-store/message-histories.md'
      - 'Message Store Export': 'messaging/message-store/message-exports-report.md'
    - 'Sample Applications':
      - 'SMS Sample App Walkthrough': 'https://ringcentral-tutorials.github.io/sms-api-nodejs-demo/'
      - 'A2P SMS Messaging': 'https://ringcentral-tutorials.github.io/a2p-sms-messaging-nodejs-demo/'
      - 'Two-factor Authentication': 'https://ringcentral-tutorials.github.io/sms-2fa-nodejs-demo/'
      - 'Custom Fax Cover Pages': 'https://ringcentral-tutorials.github.io/fax-cover-page-nodejs-demo/'

  - 'Team Messaging':
    - 'Overview': 'team-messaging/index.md'
    - 'Getting Started': 'team-messaging/quick-start.md'
    - 'Core concepts':
      - 'Chats': 'team-messaging/concepts/chats.md'
      - 'Conversations': 'team-messaging/concepts/conversations.md'
      - 'Teams': 'team-messaging/concepts/teams.md'
    - 'Team Messaging API Basics':
      - 'Pagination': 'team-messaging/manual/pagination.md'
#      - 'Permissions': 'team-messaging/manual/permissions.md'
      - 'Composing deep links': 'team-messaging/manual/links.md'
    - 'Team Messaging events':
      - 'Subscribing to webhooks': 'team-messaging/events/outgoing-webhooks.md'
      - 'Post events': 'team-messaging/events/posts.md'
      - 'Chat events': 'team-messaging/events/groups.md'
      - 'Incoming webhook events': 'team-messaging/events/incoming-webhooks.md'
      - 'Interactive messaging events': 'team-messaging/events/interactive-messages.md'
    - 'Incoming webhooks':
      - 'Creating incoming webhooks': 'team-messaging/incoming-webhooks/webhook-creation.md'
      - 'Posting messages and cards': 'team-messaging/incoming-webhooks/posting.md'
      - 'Debugging using cURL': 'team-messaging/incoming-webhooks/debugging.md'
      - 'Legacy message format': 'team-messaging/incoming-webhooks/legacy-format.md'
    
    - 'Posting via REST API':
      - 'Posting messages': 'team-messaging/posting/index.md'
      - 'Posting cards': 'team-messaging/posting/cards.md'
      - 'Posting notes': 'team-messaging/posting/notes.md'
      - 'Posting tasks': 'team-messaging/posting/tasks.md'
      - 'Uploading files': 'team-messaging/posting/file-uploads.md'
      
    - 'Adaptive cards':
      - 'Introduction': 'team-messaging/adaptive-cards/index.md'
      - 'Card layout and design': 'team-messaging/adaptive-cards/containers.md'
      - 'Input and interactivity': 'team-messaging/adaptive-cards/actions.md'
      - 'Troubleshooting': 'team-messaging/adaptive-cards/troubleshooting.md'

    - 'RingCentral add-ins':
      - 'Introduction': 'team-messaging/add-ins/index.md'
      - 'Developer tools': 'team-messaging/add-ins/tools.md'

    - 'Notification apps':
      - 'Creating a notification app': 'team-messaging/add-ins/creation.md' 
      - 'Integrated installation': 'team-messaging/add-ins/installation.md'
      - 'Uninstalling': 'team-messaging/add-ins/uninstall.md'

    - 'Bots':
      - 'Development walkthrough': 'team-messaging/bots/walkthrough.md'
      - 'Posting cards with bots': 'team-messaging/bots/posting-cards.md'
      - 'Installing/removing bots': 'team-messaging/bots/installing-bots.md'
#      - 'Subscribing to bot events': 'team-messaging/bots/events.md'
#      - 'Local bot development': 'team-messaging/bots/node.md'
      - 'Bot frameworks': 'team-messaging/manual/frameworks.md'
      - 'Sample IBM Watson bot': 'https://ringcentral-tutorials.github.io/botkit-watson-bot-nodejs-demo/'
      - 'Sample Voicemail bot': 'https://ringcentral-tutorials.github.io/ringcentral-ai-bot/'

    - 'Data archival':
      - 'Compliance Export': 'team-messaging/manual/compliance-export.md'
      - 'Export File Structure': 'team-messaging/manual/compliance-export-structure.md'

  - 'Meetings':
    - 'Overview': 'meetings/index.md'
    - 'Getting Started': 'meetings/quick-start.md'
    - 'RingCentral Video API': 'meetings/video.md'
    - 'Embeddable': 'meetings/embeddable.md'

  - 'Analytics':
    - 'Overview': 'analytics/index.md'
    - 'Getting Started': 'analytics/quick-start.md'
    - 'Call Aggregate reports': 'analytics/aggregate.md'
    - 'Call Timeline reports': 'analytics/timeline.md'
    - 'Javascript sample app': https://github.com/ringcentral/call-performance-analytics-demo-node
    - 'Java sample app': https://github.com/ringcentral/call-performance-analytics-demo-java

  - 'Accounts and Users':
    - 'Overview': 'account/index.md'
    - 'Users and Extensions': 'account/extensions.md'
    - 'Phone Numbers': 'account/phone-numbers.md'
    - 'Call Forwarding/Flipping': 'account/call-forwarding-flipping.md'
    - 'User Feature Flags': 'account/feature-flags.md'
    - 'Custom Fields': 'account/custom-fields.md'
    - 'Presence': 'account/presence.md'
    - 'Audit Trail': 'account/audit-trail.md'
    - 'Emergency Locations' : 'provisioning/location/emergency-locations.md'
    - 'Address Book':
      - 'Overview': 'address-book/index.md'


  # ---- SECONDARY APIs ----
- 'Secondary':

  - 'Using the API':
      - 'Methods, endpoints and parameters': 'basics/uris.md'
      - 'Exploring the API': 'basics/explorer.md'
      - 'Callaborating with developers': 'basics/inviting-developers.md'
      - 'Running code samples': 'basics/code-samples.md'
      - 'Media content': 'basics/media.md'
      - 'App permissions': 'basics/permissions.md'
      - 'URI schemes': 'basics/uri-schemes.md'
      - 'Rate limits': 'basics/rate-limits.md'
      - 'API Change Log':
        - 'Preface': 'basics/changelog/index.md'
        - 'v.1.0.50 (Mar 2022)': 'basics/changelog/1_0_50.md'
        - 'v.1.0.49 (Nov 2021)': 'basics/changelog/1_0_49.md'
        - 'v.1.0.48 (Aug 2021)': 'basics/changelog/1_0_48.md'
        - 'v.1.0.47 (May 2021)': 'basics/changelog/1_0_47.md'
        - 'v.1.0.46 (Feb 2021)': 'basics/changelog/1_0_46.md'
        - 'v.1.0.45 (Nov 2020)': 'basics/changelog/1_0_45.md'
        - 'v.1.0.44 (Aug 2020)': 'basics/changelog/1_0_44.md'
        - 'v.1.0.43 (May 2020)': 'basics/changelog/1_0_43.md'
        - 'v.1.0.42 (Feb 2020)': 'basics/changelog/1_0_42.md'
        - 'v.1.0.41 (Dec 2019)': 'basics/changelog/1_0_41.md'
        - 'v.1.0.40 (Aug 2019)': 'basics/changelog/1_0_40.md'
      - 'API Quick Reference': 'basics/api-index.md'

  - 'API Reference': 'https://developers.ringcentral.com/api-reference/'

  - 'Applications':
      - 'Development lifecycle':
          - 'Tips for your first app': 'basics/your-first-steps.md'
          - 'Create an application': 'basics/create-app.md'
          - 'Develop in sandbox': 'basics/sandbox.md'
          - 'Graduate to production': 'basics/production.md'
      - 'App promotion':
          - 'Submit to the App Gallery': 'basics/app-gallery.md'
          - 'Updating a profile': 'basics/update-profile.md'
          - 'Checklist and best practices': 'basics/app-gallery-checklist.md'
      - 'Application management':
          - 'Using Lead Forms': 'basics/lead-forms.md'
          - 'Install App Buttons': 'basics/install-app-button.md'
      - 'Partner ecosystem':
          - 'Overview': 'basics/partners/index.md'
          - 'Brand guidelines': 'basics/partners/brand-guidelines.md'
          - 'Authentication guidance': 'basics/partners/auth.md'
          - 'Technical requirements': 'basics/partners/segregated-environments.md'

  - 'Authentication':
    - 'Choosing the best auth': 'authentication/index.md'
    - 'JWT grant type':
      - 'Getting started': 'authentication/jwt/quick-start.md'
      - 'Creating a JWT credential': 'authentication/jwt/create-jwt.md'
      - 'Configuring an app for JWT': 'authentication/jwt/config-app.md'
      - 'Troubleshooting': 'authentication/jwt/troubleshooting.md'
    - 'Auth code grant type':
      - 'Getting Started': 'authentication/quick-start.md'
      - 'Sample app (Javascript)': 'https://ringcentral-tutorials.github.io/authorization-code-flow-oauth-nodejs-demo/?distinctId=1589010021'
    - 'Using access tokens': 'authentication/tokens.md'
    - 'Using refresh tokens': 'authentication/refresh-tokens.md'
    - 'Technical deep-dives':
      - 'Auth code flow': 'authentication/auth-code-flow.md'
      - 'Auth code flow with PKCE': 'authentication/auth-code-pkce-flow.md'
      - 'JWT flow': 'authentication/jwt-flow.md'
      - 'Password flow': 'authentication/password-flow.md'

  - 'Notifications and Events':
    - 'Overview': 'notifications/index.md'
    - 'Push Notifications':
      - 'Getting Started': 'notifications/push-notifications/quick-start.md'
      - 'Using PubNub': 'notifications/push-notifications/pubnub.md'
    - 'WebHooks':
      - 'Getting Started': 'notifications/webhooks/quick-start.md'
      - 'Creating Webhooks': 'notifications/webhooks/creating-webhooks.md'
      - 'Receiving Webhooks': 'notifications/webhooks/receiving.md'
      - 'Configuring TLS/SSL': 'notifications/webhooks/configuring-tls-ssl.md'
    - 'Sample Applications':
      - 'Create SMS Push Notification': 'https://ringcentral-tutorials.github.io/sms-api-nodejs-quickstart/'
      - 'A2P SMS Messaging': 'https://ringcentral-tutorials.github.io/a2p-sms-messaging-nodejs-demo/'

  - 'Downloads and SDKs': sdks.md
  - 'RingCentral Labs': labs.md
