site_name: Developing with RingCentral
site_url: https://github.com/ringcentral/ringcentral-api-docs
site_favicon: favicon.ico
repo_url: https://github.com/ringcentral/ringcentral-api-docs
edit_uri: tree/master/docs
docs_dir: docs

plugins:
  - git-committers:
      repository: ringcentral/ringcentral-api-docs
      branch: api-ref-ia-sync
  - bootstrap-tables

theme:
  name: moonstone
  custom_dir: 'theme/'
  fluid_layout: True
  suppress_nextprev: true
  shortcuts:
    - foo

markdown_extensions:
  - markdown.extensions.admonition
  - pymdownx.details
  - pymdownx.keys
  - pymdownx.superfences
  - codehilite:
      linenums: "None"

extra_css:
- extra.css
- css/mega-menu.css

copyright: "1999-2019 RingCentral, Inc. All rights reserved."

google_analytics: ['UA-57519112-1', 'developers.ringcentral.com']

pages:
- 'Basics':
  - 'Using the API':
    - 'Methods, Endpoints and Parameters': 'basics/uris.md'
    - 'Exploring the API': 'basics/explorer.md'
    - 'Developing in Sandbox': 'basics/sandbox.md'
    - 'Using Phones in Sandbox': 'basics/your-rc-phone.md'
    - 'Media Content': 'basics/media.md'
    - 'Webhooks': 'basics/notifications/webhooks.md'
    - 'Mobile Push Notifications': 'basics/notifications/pubnub.md'
    - 'App Permissions': 'basics/permissions.md'
    - 'Rate Limits': 'basics/rate-limits.md'
  - 'Application Management':
    - 'Creating an Application': 'basics/create-app.md'
    - 'Deploying to Production': 'basics/production.md'
    - 'Publishing to App Gallery': 'basics/app-gallery.md'
    - 'Using Lead Forms': 'basics/lead-forms.md'
    - 'Install App Buttons': 'basics/install-app-button.md'
  - 'Account Management':
    - 'Accounts & Extensions': 'basics/configuration/account_extension.md'
    - 'Auth Profile & Permissions': 'basics/configuration/user-permissions.md'

# ---- CORE APIs ----

- 'Call Management':
  - 'Getting Started':
    - 'Node.js': 'call-management/quick-start/node.md'
    - 'Python': 'call-management/quick-start/python.md'
    - 'PHP': 'call-management/quick-start/php.md'
  - 'Developer Manual':
    - 'Answering Rules': 'call-management/answering-rules.md'
    - 'Call Queues': 'call-management/call-queues.md'

- 'Glip':
  - 'Getting Started':
    - 'Node.js': 'team-messaging/quick-start/node.md'
  - 'Developer Manual':
    - 'Message Attachments': 'team-messaging/manual/attachments.md'
    - 'Building a Bot Locally': 'team-messaging/manual/local-bots.md'
    - 'Bot Frameworks': 'team-messaging/manual/frameworks.md'
    - 'Glip Webhooks': 'team-messaging/manual/webhooks.md'
  - 'Sample Applications':
    - 'Glip Bot using IBM Watson and Botkit': 'https://ringcentral-tutorials.github.io/botkit-watson-bot-nodejs-demo/'
    - 'Voicemail Transcription Bot': 'https://ringcentral-tutorials.github.io/ringcentral-ai-bot/'

- 'Messaging':
  - 'Getting Started':
    - 'Node.js': 'messaging/quick-start/node.md'
    - 'Python': 'messaging/quick-start/python.md'
    - 'PHP': 'messaging/quick-start/php.md'
    - 'C#': 'messaging/quick-start/c-sharp.md'
    - 'Ruby': 'messaging/quick-start/ruby.md'
  - 'SMS':
    - 'Sending an SMS': 'messaging/sms/sending-sms.md'
    - 'Sending an MMS': 'messaging/sms/sending-images.md'
    - 'Valid SMS Numbers': 'messaging/sms/valid-sms-numbers.md'
  - 'Fax':
    - 'Sending Faxes': 'messaging/fax/sending-faxes.md'
    - 'Multipart Formats': 'messaging/fax/fax-multipart-formats.md'
    - 'Receiving Faxes': 'messaging/fax/receiving-faxes.md'
    - 'Forwarding and Resending Faxes': 'messaging/fax/resending-faxes.md'
  - 'Pager Messages':
    - 'Sending Pager Messages': 'messaging/pager/sending-pager-messages.md'
  - 'Message Store':
    - 'Sending Messages': 'messaging/message-store/messaging.md'
    - 'Working with Message Store': 'messaging/message-store/message-store.md'
    - 'Message Synchronization': 'messaging/message-store/message-sync.md'
    - 'Modifying Message Histories': 'messaging/message-store/message-histories.md'
  - 'Sample Applications':
    - 'SMS Sample App Walkthrough': 'https://ringcentral-tutorials.github.io/sms-api-nodejs-quickstart/'
    - 'A2P SMS Messaging': 'https://ringcentral-tutorials.github.io/a2p-sms-messaging-nodejs-demo/'
    - 'Two-factor Authentication': 'https://ringcentral-tutorials.github.io/sms-2fa-nodejs-demo/'
    - 'Custom Fax Cover Pages': 'https://ringcentral-tutorials.github.io/fax-cover-page-nodejs-demo/'

- 'Meetings':
  - 'Getting Started':
    - 'Node.js': 'meetings/quick-start/node.md'
    - 'Python': 'meetings/quick-start/python.md'
    - 'PHP': 'meetings/quick-start/php.md'
    - 'Java': 'meetings/quick-start/java.md'
    - 'C#': 'meetings/quick-start/c-sharp.md'
    - 'Ruby': 'meetings/quick-start/ruby.md'

- 'Voice':
  - 'Getting Started':
    - 'Node.js': 'voice/quick-start/node.md'
    - 'Python': 'voice/quick-start/python.md'
    - 'PHP': 'voice/quick-start/php.md'
    - 'C#': 'voice/quick-start/c-sharp.md'
    - 'Java': 'voice/quick-start/java.md'
    - 'Ruby': 'voice/quick-start/ruby.md'
  - 'Placing Calls':
    - 'RingOut': 'voice/ringout.md'
    - 'WebRTC': 'voice/webrtc.md'
    - 'URI Scheme': 'voice/uri-scheme.md'
  - 'Active Calls':
    - 'Reading Active Calls': 'voice/active-calls.md'
    - 'Call Control': 'voice/call-control.md'
    - 'Supervising Calls': 'voice/supervision.md'
    - 'Presence': 'voice/presence.md'
  - 'Call Logs':
    - 'Reading Call Log Data': 'voice/call-log/reading-call-log.md'
    - 'Data Types': 'voice/call-log/api.md'
    - 'Detailed Call Log Data': 'voice/call-log/details.md'
    - 'Data Archival': 'voice/call-log/archival.md'
    - 'Call Recordings': 'voice/call-log/recordings.md'
    - 'Synchronization': 'voice/call-log/sync.md'
    - 'Best Practices': 'voice/call-log/best-practices.md'
    - 'Access Control': 'voice/call-log/access.md'
  - 'Sample Applications':
    - 'Building a Web Phone with WebRTC': 'https://ringcentral-tutorials.github.io/getting-started-with-webrtc-js-demo/'
    - 'Call Log Analytics for iOS': 'https://ringcentral-tutorials.github.io/calllog-analytics-swift-demo/'
    - 'Call Log Visualizations': 'https://ringcentral-tutorials.github.io/calllog-visualization-nodejs-demo/'
    - 'Call Recording Push Notification': 'https://ringcentral-tutorials.github.io/callrecording-notification-node/'
  
# ---- SECONDARY APIs ----

- 'Authentication':
  - 'Getting Started':
    - 'Node.js': 'authentication/quick-start/authorization-flow/node.md'
    - 'Python': 'authentication/quick-start/authorization-flow/python.md'
    - 'PHP': 'authentication/quick-start/authorization-flow/php.md'
    - 'C#': 'authentication/quick-start/authorization-flow/c-sharp.md'
    - 'Ruby': 'authentication/quick-start/authorization-flow/ruby.md'
  - 'Developer Manual':
    - 'Auth Flows': 'authentication/oauth.md'
    - 'Auth Tokens': 'authentication/tokens.md'
    - 'Auth Code Flow': 'authentication/auth-code-flow.md'
    - 'Password Flow': 'authentication/password-flow.md'
    - 'Implicit Grant Flow': 'authentication/implicit-grant-flow.md'
    - 'Client Credentials Flow': 'authentication/client-creds.md'

- 'Notifications and Events':
  - 'Getting Started':
    - 'PubNub':
      - 'Node.js': 'notifications/quick-start/pubnub/node.md'
      - 'Python': 'notifications/quick-start/pubnub/python.md'
      - 'PHP': 'notifications/quick-start/pubnub/php.md'
      - 'C#': 'notifications/quick-start/pubnub/c-sharp.md'
    - 'WebHook':
      - 'Node.js': 'notifications/quick-start/webhook/node.md'
      - 'Python': 'notifications/quick-start/webhook/python.md'
      - 'PHP': 'notifications/quick-start/webhook/php.md'
      - 'C#': 'notifications/quick-start/webhook/c-sharp.md'
  - 'Developer Manual':
    - 'Webhooks': 'notifications/manual/webhooks.md'
    - 'Mobile Push Notifications': 'notifications/manual/pubnub.md'
  - 'Sample Applications':
    - 'Create SMS Push Notification': 'https://ringcentral-tutorials.github.io/sms-api-nodejs-quickstart/'
    - 'A2P SMS Messaging': 'https://ringcentral-tutorials.github.io/a2p-sms-messaging-nodejs-demo/'
