# Create an app in the RingCentral Developer Console. Make sure the app has all permissions enabled.
# Enter in the credentials for this app into the fields below.

# Test on localhost when needed. Can be any open port
PORT                  = 3000

# Production
RC_SERVER_URL        = 'https://platform.ringcentral.com'
RC_APP_CLIENT_ID         = ''
RC_APP_CLIENT_SECRET     = ''

# This credential is used for JWT-grant types
RC_USER_JWT               = ''

# Used in messaging/quick-start.*
# For code testing purpose, we set the SMS recipient's phone number to this environment variable.
# You can set the phone number via this variable, or you can set it directly on your code.
SMS_RECIPIENT        = ''

# Used in messaging/send-fax.*
# For code testing purpose, we set the Fax recipient's phone number to this environment variable.
# You can set the phone number via this variable, or you can set it directly on your code.
FAX_RECIPIENT        = ''

# Used in voice/quick-start.*
# You can set the phone number via this variable, or you can set it directly on your code.

# For code testing purpose, we set the caller's phone number in this environment variable.
RINGOUT_CALLER      = ''

# For code testing purpose, we set the callee's phone number in this environment variable.
RINGOUT_RECIPIENT    = ''

# Used in voice/call-forwarding.*
# For code testing purpose, we set the forwarding phone number in this environment variable.
# You can set the phone number via this variable, or you can set it directly on your code.
FORWARDING_NUMBER = ''

# Used in code flow authentication Quick Start
# The following URL cannot be blank when running the code flow authentication Quick Start.
RC_REDIRECT_URL      = 'http://localhost:5000/oauth2callback'

# Used throughout AI (Artificial Intelligence API)
CONTENT_URI=https://github.com/ringcentral/ringcentral-api-docs/raw/main/resources/sample-calls.mp3
NGROK_URL=''
# Used in the Team Messaging bot code samples
# The following URL is your bot webhook delivery address
RC_BOT_WEBHOOK_URL = ''

# Used in the WebHook notification code samples
# The following URL is your webhook delivery address
WEBHOOK_DELIVERY_ADDRESS = ''
