/* Mega Menu BEGIN */
.mega-menu {
  width: 700px; 
  overflow: hidden; 
  padding: 30px;
  font-family: "Lato",Helvetica,Arial,sans-serif;
  font-size: 13px;
  z-index: 100000;
  top: 39px;
  right: 0;
  background-color: white;
}
.mega-menu .mega-menu-link {
    color: #0073ae;
}
#mega-menu-products.mega-menu {
    left: -100px
}
#mega-menu-resources.mega-menu {
    width: 850px;
    left: -240px
}
#mega-menu-community.mega-menu {
    left: -300px;
}
#mega-menu-support.mega-menu {
    left: -300px;
}
.mega-menu a {
  text-decoration: none; 
  color: #585858;
}
.mega-menu img {
  width: 277px;
}
.mega-menu ul {
  padding: 0;
  margin-bottom: 20px;
}
.mega-menu li {
  list-style: none;
  padding: 3px 0 3px 0;
}
.mega-menu .sub-menu-heading { 
  color: #585858;
  font-weight: bold;
  border-bottom: 1px solid #CCC;
  width: 100%;
  font-size: 15px;
}
@media(max-width:500px){
  .mega-menu{width: 300px;}
}
/* Mega Menu END */
