<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">
    {%- block site_name %}
    <a class="navbar-brand" href="{{ nav.homepage.url|url }}">
      <img src="/logo_beta.svg" />
    </a>
    {%- endblock %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      {%- block site_nav %}
      <ul class="nav navbar-nav mr-auto">
        <li id="products-dropdown" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Products</a>
          <div id="mega-menu-products" class="dropdown-menu mega-menu" role="menu" aria-labelledby="navbarDropdown">
	    <div class="row">
              <div class="col-md-3">
                <ul>
                  <li class="sub-menu-heading">APIs</li>
                  <li><a href="#">Voice</a></li>
                  <li><a href="#">SMS</a></li>
                  <li><a href="#">Fax</a></li>
                  <li><a href="#">Chat</a></li>
                  <li><a href="#">Meetings</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <ul>
                  <li class="sub-menu-heading">Widgets</li>
                  <li><a href="#">RingCentral Embeddable</a></li>
                </ul>
                <ul>
                  <li class="sub-menu-heading">Bots</li>
                  <li><a href="#">SMS Bot Framework</a></li>
                  <li><a href="#">Chat Bot Framework</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <img src="https://images.ctfassets.net/up8h5u10ttz3/69wfSTqwkowM2ySYouo2qU/da9f91e31b1a4266552181e29e9938db/platformsignup.png" width="100%">
              </div>
	    </div> 
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown-products" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
          <div id="mega-menu-resources" class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
	    <div class="row">
              <div class="col-md-3">
                <ul>
                  <li class="sub-menu-heading">Docs</li>
                  <li><a href="#">Getting Started</a></li>
                  <li><a href="#">Developer Guide</a></li>
                  <li><a href="#">Tutorials</a></li>
                  <li><a href="#">Changelog</a></li>
                </ul>
                <ul>
                  <li class="sub-menu-heading">Use Cases</li>
                  <li><a href="#">Case Studies</a></li>
                  <li><a href="#">White papers</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <ul>
                  <li class="sub-menu-heading">API Reference</li>
                  <li><a href="#">Call Log</a></li>
                  <li><a href="#">RingOut</a></li>
                  <li><a href="#">SMS</a></li>
                  <li><a href="#">Glip</a></li>
                  <li><a href="#">Meetings</a></li>
                  <li><a href="#">Fax</a></li>
                  <li><a href="#">API Explorer</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <ul>
                  <li class="sub-menu-heading">SDKs</li>
                  <li><a href="#">C#</a></li>
                  <li><a href="#">iOS/Swift</a></li>
                  <li><a href="#">Javascript</a></li>
                  <li><a href="#">Java</a></li>
                  <li><a href="#">PHP</a></li>
                  <li><a href="#">Python</a></li>
                  <li><a href="#">Ruby</a></li>
                  <li><a href="#">All SDKs &raquo;</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <img src="https://images.ctfassets.net/up8h5u10ttz3/29HlpFhK362Y00MseE8Oek/2a401f3ca6a6fa32cdf95104cebdc728/award2.png" width="100%">
              </div>
	    </div> 
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown-products" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community</a>
          <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
	    <div class="row">
              <div class="col-md-3">
                <ul>
                  <li class="sub-menu-heading">Discuss</li>
                  <li><a href="#">Developer Forum</a></li>
                  <li><a href="#">Stack Overflow</a></li>
                  <li><a href="#">Chat</a></li>
                </ul>
                <ul>
                  <li class="sub-menu-heading">Learn</li>
                  <li><a href="#">Blog</a></li>
                  <li><a href="#">Events</a></li>
                  <li><a href="#">Webinars</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <ul>
                  <li class="sub-menu-heading">Partner</li>
                  <li><a href="#">App Gallery</a></li>
                  <li><a href="#">Partner Programs</a></li>
                </ul>
                <ul>
                  <li class="sub-menu-heading">Follow</li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Github</a></li>
                  <li><a href="#">YouTube</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <img src="https://images.ctfassets.net/up8h5u10ttz3/29HlpFhK362Y00MseE8Oek/2a401f3ca6a6fa32cdf95104cebdc728/award2.png" width="100%">
              </div>
	    </div> 
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown-products" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Support</a>
          <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
	    <div class="row">
              <div class="col-md-6">
                <ul>
                  <li class="sub-menu-heading">Support</li>
                  <li><a href="#">FAQs</a></li>
                  <li><a href="#">Developer Forum</a></li>
                  <li><a href="#">Create a ticket</a></li>
                  <li><a href="#">View your tickets</a></li>
                </ul>
                <ul>
                  <li class="sub-menu-heading">Professional Services</li>
                  <li><a href="#">Let us build the perfect app for you</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <img src="https://images.ctfassets.net/up8h5u10ttz3/1nEecYNk3CeSYKCUMyWOUk/57ab94c71c56819a3ae2021a3ad75138/pro_services.png" width="100%">
              </div>
	    </div> 
          </div>
        </li>
      </ul>
      {%- endblock %}
      
      <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
        {%- block search_button %}
        {%- if 'search' in config['plugins'] %}
        <li class="nav-item">
          <a class="nav-link" href="#" data-toggle="modal" data-target="#mkdocs_search_modal">
	    <i class="fa fa-search"></i> Search
          </a>
        </li>
        {%- endif %}
        {%- endblock %}
	
        {%- block next_prev %}
        {%- if page and (page.next_page or page.previous_page) and (not config.theme.suppress_nextprev) %}
        <li class="nav-item{% if not page.previous_page %} disabled{% endif %}">
          <a class="nav-link" rel="next" {% if page.previous_page %}href="{{ page.previous_page.url|url }}"{% endif %}>
	    <i class="fa fa-arrow-left"></i> Previous
          </a>
        </li>
        <li class="nav-item{% if not page.next_page %} disabled{% endif %}">
          <a class="nav-link" rel="prev" {% if page.next_page %}href="{{ page.next_page.url|url }}"{% endif %}>
	    Next <i class="fa fa-arrow-right"></i>
          </a>
        </li>
        {%- endif %}
        {%- endblock %}
	
        {%- block repo %}
        {%- if page and page.edit_url %}
        <li class="nav-item">
          <a class="nav-link" href="{{ page.edit_url }}">
	    {%- if config.repo_name == 'GitHub' -%}
	    <i class="fa fa-github"></i> Edit on {{ config.repo_name }}
	    {%- elif config.repo_name == 'Bitbucket' -%}
	    <i class="fa fa-bitbucket"></i> Edit on {{ config.repo_name }}
	    {%- elif config.repo_name == 'GitLab' -%}
	    <i class="fa fa-gitlab"></i> Edit on {{ config.repo_name }}
	    {%- else -%}
	    Edit on {{ config.repo_name }}
	    {%- endif -%}
          </a>
        </li>
        {%- elif config.repo_url %}
        <li class="nav-item">
          <a class="nav-link" href="{{ config.repo_url }}">
	    {%- if config.repo_name == 'GitHub' -%}
	    <i class="fa fa-github"></i> {{ config.repo_name }}
	    {%- elif config.repo_name == 'Bitbucket' -%}
	    <i class="fa fa-bitbucket"></i> {{ config.repo_name }}
	    {%- elif config.repo_name == 'GitLab' -%}
	    <i class="fa fa-gitlab"></i> {{ config.repo_name }}
	    {%- else -%}
	    {{ config.repo_name }}
	    {%- endif -%}
          </a>
        </li>
        {%- endif %}
        {%- endblock %}
      </ul>
    </div>
  </div>
</nav>
