body {
    font-family: "Lato",Helvetica,Arial,sans-serif;
    font-weight: 200;
    color: #222;
    background-color: #fff;
}

h1,
h2,
h3 {
	font-weight: 200;
	font-family: "Lato",Helvetica,Arial,sans-serif;
}
h3 {
	color: #585858;
}

code {
	font-family: "courier new",courier,monospace;
	margin: 10px 0;
	padding: 0;
	border: none;
	color: #111;
}

code.hljs {
	margin: 10px 0;
	padding: 24px;
	overflow-x: auto;
	border: 1px solid #e8e8e8;
	border-radius: 4px;
	font-size: 15px;
	line-height: 24px;
	font-family: "courier new",courier,monospace;
	color: #585858;
	font-weight: 200;
}

a {
    color: #0073ae;
}

a:visited {
	color: #0073ae;
}

a.icon {
	font-weight: 200;
}

ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;
}

li.toctree-l2:first-child,
li.toctree-l3:first-child {
    display: none;
}

a.toctree-l3 {
  margin-left: 40px;
  font-size: 12px;
}

.rst-content table.docutils {
    border: none;
}

.rst-content table.docutils th {
    padding: 15px 10px;
    font-size: 14px;
    font-weight: bold;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
    background: #fbfbfb;
	color: #585858;
}

.rst-content table.docutils td {
    padding: 15px 10px;
    font-size: 14px;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
	border-left: none;
	border-right:none;
    background: #fff;	
}

.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
    background-color: #fff;
}

.rst-content table.docutils tbody>tr:last-child td {
    border-bottom-width: 1px;
}

.rst-versions {
	display: none;
}

.rst-versions.shift {
  display: none;
}

.rst-versions.rst-badge {
  display: none !important;
}

