.help .material-icons { font-size: .9rem }
#content table img {
    max-width: 100%;
}
#main blockquote {
    padding: 10px 0 0 20px;
    border-left: 5px solid #EEE;
    margin-left: 10px;
}
.api-index td.endpoint {
    border-top: 0;
    padding-top: 0;
    font-size: 0.85em;
}
.api-index .method {
    white-space: nowrap;
}
.api-index .method,
.api-index .description {
    padding-bottom: 0;
}

.api-index [data-toggle="collapse"]:after {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 0.8rem;
    padding-left: 6px;
    padding-right: 6px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f054";
    transform: rotate(90deg) ;
    transition: all linear 0.25s;
}   
.api-index [data-toggle="collapse"].collapsed:after {
    transform: rotate(0deg) ;
}

.tabbed-content p {
    padding: 1rem 1rem 0 1rem;
}

.tabbed-content h1,
.tabbed-content h2,
.tabbed-content h3,
.tabbed-content h4,
.tabbed-content h5
{
    padding-left: 1rem;
}

.tabbed-content .highlight,
.tabbed-content .admonition {
    margin-left: 1rem;
    margin-right: 1rem;
}

#content #main a.btn {
    text-decoration: none;
    margin-right: 20px;
}

#sidebar-nav .nav li.nav-item > ul {
    list-style: none;
}
#sidebar-nav .nav li.nav-item > ul > li {
    margin-left: 15px;
}

#sidebar-nav {
    background-color: rgb(88,88,88);
    color: #DBE6F1;
}

#sidebar-toc .repo {
    border-bottom: 1px solid rgba(47,47,47,.1);
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
}
#sidebar-toc .repo a {
}

#sidebar-nav .toplevel .section-title {
    margin-left: 35px;
    padding-bottom: 3px;
    font-size: 14px;
    text-transform: none;
}
#sidebar-nav .nav-item {
    background-repeat: no-repeat;
    background-color: transparent;
    background-size: 18px 18px;
    background-position: 0 3px;
    display: inline-block;
    margin-bottom: 16px;
}
#sidebar-nav .nav-item .section-title.nav-link {
    padding: 0;
}
#sidebar-nav .nav-item > ul > li {
    font-size: 14px;
    margin-left: 32px;
}
#sidebar-nav .toplevel.nav-item {
    width: 100%;
}
#sidebar-nav #nav-item-api-reference {
    background-image: url('https://netstorage.ringcentral.com/dpw/guide/nav-icons/api-reference.svg')
}
#sidebar-nav #nav-item-api-reference:hover {
    background-image: url('https://netstorage.ringcentral.com/dpw/guide/nav-icons/api-reference-hover.svg')
}
#sidebar-nav #nav-item-address-book {
    background-image: url('https://netstorage.ringcentral.com/dpw/guide/nav-icons/address-book.svg')
}
#sidebar-nav #nav-item-address-book:hover {
    background-image: url('https://netstorage.ringcentral.com/dpw/guide/nav-icons/address-book-hover.svg')
}
#sidebar-nav #nav-item-analytics {
    background-image: url('https://netstorage.ringcentral.com/dpw/guide/nav-icons/analytics-beta.svg')
}
#sidebar-nav #nav-item-analytics:hover {
    background-image: url('https://netstorage.ringcentral.com/dpw/guide/nav-icons/analytics-beta-hover.svg')
}
#sidebar-nav #nav-item-ringcentral-labs {
    background-image: url('https://netstorage.ringcentral.com/dpw/guide/nav-icons/ringcentral-labs.svg')
}
#sidebar-nav #nav-item-ringcentral-labs:hover {
    background-image: url('https://netstorage.ringcentral.com/dpw/guide/nav-icons/ringcentral-labs-hover.svg');
}
#sidebar-nav #nav-item-applications {
    background-image: url('https://netstorage.ringcentral.com/dpw/guide/nav-icons/applications.svg')
}
#sidebar-nav #nav-item-applications:hover {
    background-image: url('https://netstorage.ringcentral.com/dpw/guide/nav-icons/applications-hover.svg');
}
#sidebar-nav #nav-item-voice {
    background-image: url('https://netstorage.ringcentral.com/dpw/api-reference/icons/group_icon_voice.svg?v=2020032620200227-0720')
}
#sidebar-nav #nav-item-voice:hover {
    background-image: url('https://netstorage.ringcentral.com/dpw/guide/nav-icons/voice-hover.svg?v=20200326');
}
#sidebar-nav #nav-item-sms-and-fax {
    background-image: url('https://netstorage.ringcentral.com/dpw/api-reference/icons/group_icon_messaging.svg?v=2020032620200227-0720');
}
#sidebar-nav #nav-item-sms-and-fax:hover {
    background-image: url('https://netstorage.ringcentral.com/dpw/api-reference/icons/group_icon_messaging_hover.svg');
}
#sidebar-nav #nav-item-team-messaging {
    background-image: url('https://netstorage.ringcentral.com/dpw/api-reference/icons/group_icon_glip.svg?v=2020032620200227-0720');
}
#sidebar-nav #nav-item-team-messaging:hover {
    background-image: url('https://netstorage.ringcentral.com/dpw/api-reference/icons/group_icon_glip_hover.svg');
}
#sidebar-nav #nav-item-call-management {
    background-image: url('https://netstorage.ringcentral.com/dpw/api-reference/icons/group_icon_call.svg?v=2020032620200227-0720');
}
#sidebar-nav #nav-item-call-management:hover {
    background-image: url('https://netstorage.ringcentral.com/dpw/api-reference/icons/group_icon_call_hover.svg');
}
#sidebar-nav #nav-item-meetings {
    background-image: url('https://netstorage.ringcentral.com/dpw/api-reference/icons/group_icon_meeting.svg');
}
#sidebar-nav #nav-item-meetings:hover {
    background-image: url('https://netstorage.ringcentral.com/dpw/api-reference/icons/group_icon_meeting_hover.svg');
}
#sidebar-nav #nav-item-using-the-api {
    background-image: url('https://netstorage.ringcentral.com/dpw/guide/nav-icons/default.svg');
}
#sidebar-nav #nav-item-using-the-api:hover {
    background-image: url('https://netstorage.ringcentral.com/dpw/guide/nav-icons/default-hover.svg');
}
#sidebar-nav #nav-item-authentication {
    background-image: url('https://netstorage.ringcentral.com/dpw/guide/nav-icons/authentication.svg');
}
#sidebar-nav #nav-item-authentication:hover {
    background-image: url('https://netstorage.ringcentral.com/dpw/guide/nav-icons/authentication-hover.svg');
}
#sidebar-nav #nav-item-notifications-and-events {
    background-image: url('https://netstorage.ringcentral.com/dpw/guide/nav-icons/notifications-and-events.svg');
}
#sidebar-nav #nav-item-notifications-and-events:hover {
    background-image: url('https://netstorage.ringcentral.com/dpw/guide/nav-icons/notifications-and-events-hover.svg');
}
#sidebar-nav #nav-item-downloads-and-sdks {
    background-image: url('https://netstorage.ringcentral.com/dpw/guide/nav-icons/sdks.svg');
}    
#sidebar-nav #nav-item-downloads-and-sdks:hover {
    background-image: url('https://netstorage.ringcentral.com/dpw/guide/nav-icons/sdks-hover.svg');
}    
#sidebar-nav #nav-item-accounts-and-users {
    background-image: url('https://netstorage.ringcentral.com/dpw/api-reference/icons/group_icon_account.svg')
}
#sidebar-nav #nav-item-accounts-and-users:hover {
    background-image: url('https://netstorage.ringcentral.com/dpw/api-reference/icons/group_icon_account_hover.svg')
}

#sidebar-nav a,
#sidebar-nav a:visited {
    color: #DBE6F1;
}
footer .brand {
    background: url('./img/footer_rclogo.png') no-repeat 0px 20px;
    padding: 40px 0 10px 0;
    font-size: 12px;
}
.btn-light:visited {
    color: #212529;
}
.homepage .jumbotron h2 {
    margin-top: 20px;
}
.jumbotron .qs-link {
    margin-right: 10px;
}
#content #main a {
    text-decoration: underline;
    font-weight: bold;
}

/*
#secondary-nav {
    background-color: rgb(245,245,245);
    color: rgb(47,47,47);
}
.nav-item-icon {
    height: 16px;
    width: 16px;
    display: flex;
}
#nav-item-voice .nav-item-icon {
    background: url('./img/voice.svg') no-repeat 0px 0px;
}
*/
