#sidebar-nav {
    background-color: rgb(6,132,189);
    color: #DBE6F1;
}
#sidebar-nav a,
#sidebar-nav a:visited {
    color: #DBE6F1;
}
footer .brand {
    background: url('./img/footer_rclogo.png') no-repeat 0px 20px;
    padding: 40px 0 10px 0;
    font-size: 12px;
}
.btn-light:visited {
    color: #212529;
}
.jumbotron .qs-link {
    margin-right: 10px;
}
#content #main a {
    text-decoration: underline;
    font-weight: bold;
}

/*
#secondary-nav {
    background-color: rgb(245,245,245);
    color: rgb(47,47,47);
}
.nav-item-icon {
    height: 16px;
    width: 16px;
    display: flex;
}
#nav-item-voice .nav-item-icon {
    background: url('./img/voice.svg') no-repeat 0px 0px;
}
*/
